* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
}

.menu span {
    padding: 20px;
}

.navbar-container,
.service-container {
    width: 100%;
    background-color: black;
}


.navbar,
.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;
    margin: 0 auto;

}
.services {
    background-color: black;
    padding-bottom: 50px;
    height: 70vh;
}
.services-message{
    width: 40%;
    padding: 20px;

}
.services-message>h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 24px;
    
}
.services-message>p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 24px;
    margin-bottom: 8px;
    
}
.service-card-view{
    height: 50%;
    width: 100%;
    border-radius: 5%;
    padding: 20px;

}
.service-card-view:hover{
    background-color: #F6191E;
}
.home-container,
.header-container, 
.footer-container {
    width: 100%;
    background-color: black;
}
.blogpage-container{
    width: 100%;

}
.blogpage-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
.blogpage-images>img{
    padding: 3rem;
}

.home {
    height: 70vh;
    width: 1320px;
    margin: 0 auto;
}

.header{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.header-title{
    color:#F2123D;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 2.5rem;
}
.self-title{
    color: #F2123D;
    padding: 0.5rem;
}
.header-nav{
    display: flex;
}
.header-nav>Link{
    text-decoration: none;
}
.banner-header-text {
    font-size: 70px;
    font-weight: 800;
    line-height: 4.5rem;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#f81f01, #ee076e);
    -webkit-background-clip: text;
    padding: 20PX;
}

.logo {
    margin: 20PX;
}

.contact {
    float: right;
    padding: 20px 50px;
}

.contact-btn {
    border: 1px solid gold;
    padding: 10px 20px;
    background-color: black;
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}
.contact-btn:hover{
    background-color: #EBB206;
}
h1 {
    color: white;
}

p {
    color: #6C757D;
}

.working-sector {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.working-sector>div {
    padding: 20px;
}

.working-sector>div>h1 {
    font-size: 28px;
    font-weight: 600;
    padding: 20px 0;
}

.details-para {
    font-size: 20px;
    font-weight: 600;
}

.banner-container,
.fun-fact-container {
    width: 100%;
    background-color: #201F1F;
}
.fun-fact-count-container{
    display: flex;
    text-align: center;
    padding-top: 40px;
}
.fun-fact-text{
    font-size: 40px;
    font-weight: 500;
    padding-top: 15px;
}
.fun-fact-card{
    padding-bottom: 0px;
}
.number-text{
    color: #dc3545;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 2rem;
}
.text-secondary{
    font-size: 20px;
    font-weight: 500;
    width: 90%;
}

.about {
    background-color: #201F1F;
    display: flex;
    padding: 50px 100px;
}

.about_image {
    margin-right: 50px;
}


.partner-images-container{
    width: 100%;
    background-color: white;
}
.fun-fact{
   padding: 30px;
}
.fun-fact,
.partner-images {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.message-container>div{
    padding: 70px 20px 20px 10px;
}
.who-are-container{
    display: flex;
}
.about-heading{
    font-size: 60px;
    font-weight: 700;
}
.about-paragraph,
.who-we-are-paragaraph{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}
.who-we-are-heading{
    font-size: 40px;
    font-weight: 500;
}
.service-card-container{
    display: flex;
}
.request-btn{
    border: 1px solid  #dc3545;
    padding: 10px 20px;
    background-color: black;
    color: #dc3545 !important;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}
.partners-list-container{
    padding: 40px;
}
.temp-position{
    position: relative;
    top: -10px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1320px;
    margin: 0 auto;
}
.right-footer{
    display: flex; 
}
.right-footer>div{
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
}
.footer-link{
    text-decoration: none;
    color: #6C757D;
    font-size: 20px;
}
.font-container{
    display: flex;

}
.symbol-style{
    padding-right: 40px;
    color: #6C757D;
}