*{
    padding: 0;
    margin: 0;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home{
    background-color: black ;
    height: 70vh;
    
}
.link{
    text-decoration: none;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.menu span{
    padding: 20px;
}
.navbar{
    background-color: black;
    display: flex;
    padding: 20px;

}
.logo{
    margin: 20PX;
}
.contact{
    float: right;
    padding: 20px 50px;
}
.contact-btn{
    border: 1px solid gold;
    padding: 10px 20px;
    background-color: black;
    color: #dc3545!important;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}
.banner{
  
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(#f81f01,#ee076e);
    -webkit-background-clip: text;
}
h1{
    color: white;
}
p{
    color: #6C757D;
}
.working-sector{
    display: flex;
}

.about{
    background-color: #201F1F;
    display: flex;
    padding: 50px 100px;
}
.about_image{
    margin-right: 50px;
}
.services{
    background-color: black;
}
.fun-fact{
    background-color: #201F1F;
}